body {
    margin: 0;
    background-color: #BBB;
    font-family: 'Montserrat', sans-serif;
}

.sidenav {
    height: 100%; 
    width: 15%; 
    position: fixed; 
    top: 0;
    left: 0;
    background-color: #181818; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 20px; 
}

.sidenav img {
    width: 50%;
    border-radius: 100%;
    margin-bottom: 20px; 
}

.sidenav a {
    width: 100%;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    text-decoration: none;
    font-size: 18px;
    color: white;
    text-align: center;
}

.sidenav a:hover {
    background-color: #575757;
}

.main-content {
    margin-left: 17.5%; 
    padding: 1% 2%; 
    height: 100%;
    background-color: #BBB;
}
